<style>
  .fp-player {
    display: none;
  }

  .fp-ui {
    display: none;
  }
</style>
{{#if error }}
  <div>{{errorMessage}} </div>
{{/if}}
<div style="height:0px;">
  <div id="ember-flowplayer"></div>
</div>